# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# התעלמות מכל תיקיית node_modules בכל מקום בפרויקט
**/node_modules/

# התעלמות מכל קובץ .env בכל מקום בפרויקט
**/.env
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
